body{
    margin: 0%;
    padding: 0%;
}

#container{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #363636;
}

#Knight{
    padding: 20px;
}
.horn{
    width: 70px;
    height: 65px;
    border-radius: 40%;
    overflow: hidden;
    transform: rotate(-70deg);
    margin-left: -15px;
    margin-bottom: -35px
}

.horn:nth-child(1){
    transform: scaleX(-1);
    margin-left: 50px;
    margin-bottom: -70px;
    transform: rotate(-215deg);
}
.realHorn{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid white;
}
.head{
    width: 100px;
    height: 90px;
    background-color: white;
    border-radius: 45px 50px 45px 50px;
}
.eye{
    float: right;
    margin: 5%;
    margin-top: 22%;
    width: 30px;
    height: 45px;
    border-radius: 50%;
    background-color: #1d1c1c;
    transform: rotate(-5deg);
}

#body{
    width: 80px;
    height: 80px;
    margin-left: 8%;
    overflow: hidden;
}
.startbody{
    margin-top: -10px;
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to bottom, #363663, #22223d);
    /* background-color: #22223d; */
    border-radius: 50%;
}
#legs{
    width: 80px;
    height: 30px;
    margin-left: 8%;
    overflow: hidden;
}
.leg{
    float: left;
    width: 15px;
    height: 55px;
    margin-top: -30px;
    margin-left: 22%;
    background-color: black;
    border-radius: 50%;
}
